[submodule "advent-of-code-2024/src/test/resources/inputs"]
	path = advent-of-code-2024/src/test/resources/inputs
	url = https://github.com/Flashky/advent-of-code-2024-data.git
	branch = master
[submodule "src/test/resources/inputs"]
	path = src/test/resources/inputs
	url = https://github.com/Flashky/advent-of-code-2024-data.git
	branch = master
