# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Report

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - '.github/**'
  pull_request:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths-ignore:
      - '.github/**'

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:

      # Verify for existing token secret set
      - name: Check for existing Token Secret
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |
          if [ -z "$PAT_TOKEN" ]; then
            echo -e "\e[91mError: PAT_TOKEN secret is not set.\e[0m"
            echo -e "\e[93mTo generate a personal access token (PAT) for GitHub Actions:\e[0m"
            echo -e "\e[93m1. Go to \e[94mhttps://github.com/settings/tokens\e[0m"
            echo -e "\e[93m2. Click on \e[92mGenerate new token\e[0m\e[93m and then on \e[92mGenerate new token (classic) \e[0m\e[93m\e[0m"
            echo -e "\e[93m3. Give your token a name, select the required scopes (e.g., repo), and click on \e[92mGenerate token\e[93m\e[0m"
            echo -e "\e[93m4. Copy the generated token"
            echo -e "\e[93m5. Go to your repository on GitHub -> Settings -> Secrets -> New repository secret"
            echo -e "\e[93m6. Name the secret \e[94mPAT_TOKEN\e[93m and paste the copied token as the value"
            exit 1
          fi

    
      # Verify token is not expired
      - name: Check for Token Secret expiration
        env:
          PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
        run: |

          # Simple GET request to verify token expiration
          # If the token is invalid or has expired, API will return 401 (Unauthorized) or 403 (Forbidden)
          HTTP_CODE=$(curl -s -o /dev/null -w "%{http_code}" -H "Authorization: token $PAT_TOKEN" https://api.github.com/user)

          if [ "$HTTP_CODE" -ge 200 ] && [ "$HTTP_CODE" -lt 300 ]; then
            echo -e "✅ Valid PAT_TOKEN."
          elif [ "$HTTP_CODE" -eq 401 ] || [ "$HTTP_CODE" -eq 403 ]; then
            echo -e "❌ Error: PAT_TOKEN is invalid, has expired or has insufficient permissions (HTTP status: $HTTP_CODE)."
            exit 1
          else
            echo -e "⚠️ Warning: unexpected error while verifying the token (HTTP status: $HTTP_CODE)."
          fi   
          
  build:
    runs-on: ubuntu-latest
    needs: verify
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
          token: ${{ secrets.PAT_TOKEN }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25-ea
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload Jacoco report artifact
        uses: actions/upload-artifact@v5
        with:
          name: jacoco-report
          path: target/site/jacoco/jacoco.xml

  report:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v5
      - name: Download Jacoco report artifact
        uses: actions/download-artifact@v6
        with:
          name: jacoco-report
          path: target/site/jacoco
      - name: Send coverage to Codacy
        uses: codacy/codacy-coverage-reporter-action@89d6c85cfafaec52c72b6c5e8b2878d33104c699 # v1.3.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
